
@media only screen and (min-width: 1200px) {
.clients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color4;
    padding: 40px;
    border-bottom: 1px solid $color2;
}

.clients__title{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 170px;
    color: $color2;
}

.clients__logo{
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
}

.clients__photo{
    width: 50px;
    border-radius: 50%;
    margin-top: 10px;
}

.clients__list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
  }
  
  .clients__item {
    display: flex;
    justify-content: center;
    width: calc(33.67% - 20px);
    font-family: 'Inter', sans-serif;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 14px;
    padding-bottom: 50px;
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);

    

    &:first-child {
        border-left: none;
          }
         
    &:nth-child(4) {
  border-left: none;
    }
   &:nth-child(n+4) {
    border-bottom: none;
   }
}
  

.clients__span{
    font-weight: bolder;
    font-size: 25px;
    padding-bottom: 20px;
    color: $color3;
}

.clients__name b {
    font-weight: bold;
    padding-bottom: 5px;
}

.clients__name{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.clients__desc{
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-top: 15px;
}
}

@media only screen and (max-width: 1200px) {
    .clients{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color4;
        padding: 40px;
        border-bottom: 1px solid $color2;
    }
    
    .clients__title{
        font-family: 'Inter', sans-serif;
        text-transform: uppercase;
        font-size: 45px;
        color: $color2;
    }
    
    .clients__logo{
        width: 60px;
        height: 30px;
        margin-bottom: 10px;
    }
    
    .clients__photo{
        width: 50px;
        border-radius: 50%;
        margin-top: 10px;
    }
    
    .clients__list {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .clients__item {
        display: flex;
        justify-content: center;
        font-family: 'Inter', sans-serif;
        flex-direction: column;
        padding-top: 30px;
        padding-left: 14px;
        padding-bottom: 30px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }
      
    
    .clients__span{
        font-weight: bolder;
        font-size: 25px;
        padding-bottom: 20px;
    }
    
    .clients__name b {
        font-weight: bold;
        padding-bottom: 5px;
    }
    
    .clients__name{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }
    
    .clients__desc{
        display: flex;
        align-items: center;
        padding-left: 5px;
        margin-top: 15px;
    }
    
}