@media only screen and (min-width: 1200px) {
.contact{
    display: flex;
    background-color: $color4;
    border-bottom: 1px solid $color2;
    padding-top: 100px;
    justify-content: space-around;
    padding-bottom: 100px;
}

.contact__title{
    font-size: 100px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: $color3;
}

.contact__br{
    display: flex;
    flex-direction: column;
}

.contact__span{
    font-family: 'Inter', sans-serif;
    color: $color2;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: bolder;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.contact__par{
    font-family: 'Inter', sans-serif;
    color: $color2;
    font-size: 21px;
}

.contact__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color2;
    margin-top: 30px;
    color: $color5;
    padding: 10px 40px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    
    &::after {
        content: "→";
        font-size: 25px;
        margin-left: 10px; 
      }
}
}
@media only screen and (max-width: 1200px) {
    .contact{
        display: flex;
        background-color: $color4;
        border-bottom: 1px solid $color2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contact__title{
        font-size: 80px;
        font-family: 'Inter', sans-serif;
        text-transform: uppercase;
        color: $color3;
    }
    
    .contact__span{
        font-family: 'Inter', sans-serif;
        color: $color2;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        text-transform: uppercase;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    
    .contact__par{
        font-family: 'Inter', sans-serif;
        color: $color2;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact__b{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contact__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color2;
        margin-top: 30px;
        color: $color5;
        padding: 10px 40px;
        border-radius: 30px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        
        &::after {
            content: "→";
            font-size: 25px;
            margin-left: 10px; 
          }
    }
}

@media only screen and (max-width: 768px) {
    .contact{
        display: flex;
        background-color: $color4;
        border-bottom: 1px solid $color2;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        justify-content: center;
        align-items: center;
    }
    
    .contact__title{
        font-size: 60px;
        font-family: 'Inter', sans-serif;
        text-transform: uppercase;
        color: $color3;
    }
    
    .contact__span{
        font-family: 'Inter', sans-serif;
        color: $color2;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        text-transform: uppercase;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    
    .contact__par{
        font-family: 'Inter', sans-serif;
        color: $color2;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact__b{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contact__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color2;
        margin-top: 30px;
        color: $color5;
        padding: 10px 90px;
        border-radius: 30px;
        border: none;
        font-size: 13px;
        cursor: pointer;
        
        &::after {
            content: "→";
            font-size: 15px;
            margin-left: 10px; 
          }
    }
}