@media only screen and (min-width: 1200px) {
    .footer{
    background-color: $color4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 2px;
}

.footer__text{
    font-size: 15px;
    color: $color3;
}

.footer__span{
    font-weight: bold;
}

.footer__socials{
    display: flex;
}

.footer__item img{
    width: 25px ;
    padding-left: 10px;
}
}

@media only screen and (max-width: 1200px) {
    .footer{
        background-color: $color4;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px 2px;
    }
    
    .footer__text{
        font-size: 15px;
        color: $color3;
    }
    
    .footer__span{
        font-weight: bold;
    }
    
    .footer__socials{
        display: flex;
    }
    
    .footer__item img{
        width: 25px ;
        padding-left: 10px;
    }
}


@media only screen and (max-width: 768px) {
    .footer{
        background-color: $color4;
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items: center;
        padding: 15px 2px;
    }
    
    .footer__text{
        font-size: 15px;
        color: $color3;
    }
    
    .footer__span{
        font-weight: bold;
    }
    
    .footer__socials{
        display: flex;
        margin-top: 15px;
    }
    
    .footer__item img{
        width: 25px ;
        padding-left: 10px;
    }
}