@media only screen and (min-width: 1200px) {
    .logos{
    border-top: 1px solid $color2;
    padding: 30px;
    margin-top: 5px;
    background-color: $color4;
}

.logos__list{
display: flex;
justify-content: space-around;
}

.logos__item img{
    width: 120px;
    height: 30px;
    background-color: $color5;
    border-radius: 60px;
    padding: 10px 30px;
}
}
@media only screen and (max-width: 768px) {
    .logos{
        border-top: 1px solid $color2;
        padding: 30px;
        margin-top: 5px;
        background-color: $color4;
    }
    .logos__item img{
      width: 60px; 
      height: 30px;
      background-color: $color5;
    border-radius: 60px;
    padding: 10px 30px;
}
    
.logos__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    }
}

@media only screen and (max-width: 1200px) {
    .logos{
        border-top: 1px solid $color2;
        padding: 30px;
        margin-top: 5px;
        background-color: $color4;
    }
.logos__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    }
    .logos__item img{
        width: 90px; 
        height: 50px;
        background-color: $color5;
    border-radius: 60px;
    padding: 10px 30px;
    }
}
