@media (max-width: 767px) {
    .page__selected-works {
        padding-bottom: 30px;
        border-bottom: 1px solid rgb(37, 37, 37);
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            color: rgb(37, 37, 37);
            font-size: 80px;
            font-weight: 300;
            text-transform: uppercase;

            margin: 20px 0 30px;
        }

        .cards_wrap {
            position: relative;

            .card_to_hide {
                display: none;
            }

            .card__item {
                object-fit: cover;
                width: 80%;
                margin: 0 auto;
                margin-bottom: 20px;
            }

            .text_card {
                display: block;
                margin: 0 auto;
                width: 80%;

                .card__title {
                    font-size: 35px;
                    font-weight: 400;
                    text-transform: uppercase;
                }

                .inner-sect {
                    display: flex;
                    gap: 30px;
                    padding-top: 30px;

                    .text {
                        padding: 15px 30px;
                        background-color: white;
                        font-size: 18px;
                        font-weight: 400;
                        border-radius: 50px;
                    }
                }

                .btn {
                    display: flex;
                    justify-content: flex-end;
                    padding: 30px 0 40px;
                    position: relative;

                    // .arrow {
                    //     position: absolute;
                    //     top: 70px;
                    // }

                    .text {
                        padding: 15px 30px;
                        background-color: rgb(37, 37, 37);
                        color: white;
                        font-size: 18px;
                        font-weight: 400;
                        border-radius: 50px;
                    }
                }
            }
        }

        .btn__bottom_page {
            display: block;
            margin: 0 auto;
            text-transform: capitalize;
            color: rgb(37, 37, 37);
            font-size: 18px;
            font-weight: 400;
            padding: 15px 60px;
            background-color: white;
            border-radius: 50px;
            text-align: center;
            text-decoration: none;
            width: 80%;
        }
    }
}

@media (min-width: 768px) and (max-width:1919px) {

    .page__selected-works {

        padding-bottom: 30px;
        border-bottom: 1px solid rgb(37, 37, 37);
        
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            color: rgb(37, 37, 37);
            font-size: 150px;
            font-weight: 300;
            text-transform: uppercase;

            margin: 20px 0 30px;
        }

        .cards_wrap {

            .card_to_hide {
                display: none;
            }

            .card__item {

                .picture {
                object-fit: cover;
                width: 90%;
                margin: 0 auto;
                margin-bottom: 20px;
                }
                
            }

            .text_card {

                display: block;
                margin: 0 auto;
                width: 80%;

                .card__title {
                    font-size: 35px;
                    font-weight: 400;
                    text-transform: uppercase;
                }

                .inner-sect {
                    display: flex;
                    gap: 30px;
                    padding-top: 30px;

                    .text {
                        padding: 15px 30px;
                        background-color: white;
                        font-size: 18px;
                        font-weight: 400;
                        border-radius: 50px;
                    }
                }

                .btn {
                    display: flex;
                    justify-content: flex-end;
                    padding: 30px 0 40px;
                    position: relative;

                    .arrow {
                        position: absolute;
                        top: 46px;
                        right: 20px;
                    }

                    .text {
                        padding: 15px 60px;
                        background-color: rgb(37, 37, 37);
                        color: white;
                        font-size: 18px;
                        font-weight: 400;
                        border-radius: 50px;
                    }
                }
            }
        }

        .btn__bottom_page {
            display: block;
            margin: 0 auto;
            text-transform: capitalize;
            color: rgb(37, 37, 37);
            font-size: 18px;
            font-weight: 400;
            padding: 15px 40px;
            background-color: white;
            border-radius: 50px;
            text-align: center;
            text-decoration: none;
            width: 10%;
        }
    }
}

@media (min-width: 1920px) {

    .page__selected-works {
        padding-bottom: 30px;
        border-bottom: 1px solid rgb(37, 37, 37);

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            color: rgb(37, 37, 37);
            font-size: 212px;
            font-weight: 300;
            letter-spacing: 4%;
            text-transform: uppercase;

            margin: 70px 0 50px;
        }

        .cards_wrap {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .card__item {

                .picture {
                object-fit: cover;
                width: 90%;
                margin: 0 auto;
                margin-bottom: 20px;
                height: 87%;
                }
                
            }

            .card_wide_screen,
            .text_card {
                display: block;
                margin: 0 auto;
                width: 80%;

                .card__title {
                    font-size: 40px;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .inner-sect {
                    display: flex;
                    gap: 30px;
                    padding-top: 30px;

                    .text {
                        padding: 15px 30px;
                        background-color: white;
                        font-size: 18px;
                        font-weight: 400;
                        border-radius: 50px;
                    }
                }

                .btn {
                    display: flex;
                    justify-content: flex-end;
                    padding: 30px 0 40px;
                    position: relative;
                    bottom: -67%;
                    
                        .arrow {
                            position: absolute;
                            top: 46px;
                            right: 10px;
                        }

                    .text {
                        padding: 15px 50px;
                        background-color: rgb(37, 37, 37);
                        color: white;
                        font-size: 18px;
                        font-weight: 400;
                        border-radius: 50px;
                    }
                }
            }

            .text_card_to_hide {
                display: none;
            }
        }

        .btn__bottom_page {
            display: block;
            margin: 0 auto;
            text-transform: capitalize;
            color: rgb(37, 37, 37);
            font-size: 18px;
            font-weight: 400;
            padding: 15px 40px;
            background-color: white;
            border-radius: 50px;
            text-align: center;
            text-decoration: none;
            width: 10%;
        }
    }
}