@media (max-width: 767px) {
    .page__our-team {
    
        .page__title {
            font-size: 80px;
            font-weight: 300;
            text-transform: uppercase;
            color: rgb(37, 37, 37);
            line-height: 92px;
            text-align: center;
            margin: 30px 0 50px;
        }

        .cards__list {
            
            .card__item {
                width: 80%;
                text-align: center;
                margin: 0 auto;

                .card__title {
                    font-size: 30px;
                    font-weight: 800;
                    color: rgb(51, 51, 51);
                }

                .card__text {
                    font-size: 20px;
                    font-weight: 400;
                    color: rgb(51, 51, 51); 
                    margin: 5px 0 15px;
                }

                img {
                    filter: grayscale(100%);
                }

                .social-media-links {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    margin: 15px 0 40px;
                }
            }

            .card__item-join-btn {
                text-align: center;
                width: 80%;
                margin: 0 auto;


                .text {
                    color: rgb(51, 51, 51);
                    font-size: 30px;
                    font-weight: 400;
                    text-transform: uppercase;
                }

                .text-bold {
                    color: rgb(51, 51, 51);
                    font-size: 40px;
                    font-weight: 600;
                    text-transform: uppercase;
                    line-height: 50px;
                    margin: 15px 0;
                }

                .btn {
                    position: relative;
                    display: block;
                    margin: 0 auto;
                    padding: 15px 60px;
                    background-color: rgb(37, 37, 37);
                    border-radius: 50px;
                    text-align: center;
                    text-decoration: none;
                    width: 80%;

                    img {
                        position: absolute;
                        top: 15px;
                        right: 30px;
                    }

                    a {
                        text-transform: capitalize;
                        color: white;
                        font-size: 18px;
                        font-weight: 400;
                        text-decoration: none;
                    }
                }
            }
        }
        .card__item-join-btn-wide-screen {
            display: none;
        }
    }
}

@media (min-width: 768px) and (max-width:1919px) {
    .page__our-team {
    
        .page__title {
            font-size: 80px;
            font-weight: 300;
            text-transform: uppercase;
            color: rgb(37, 37, 37);
            line-height: 92px;
            text-align: center;
            margin: 30px 0 50px;
        }

        .cards__list {
            display: grid;
            grid-row-gap: 60px;
            grid-template-columns: 1fr 1fr;

            .card__item {
        
                img {
                    width: 90%;
                    
                    object-fit: cover;
                    margin: 0 auto;

                    &:nth-child(3) {
                        height: 86%;
                    }
                }

                .card__title {
                    width: 90%;
                    margin: 0 auto;
                    font-size: 30px;
                    font-weight: 800;
                    color: rgb(51, 51, 51);

                }

                .card__text {
                    width: 90%;
                    margin: 0 auto;
                    font-size: 20px;
                    font-weight: 400;
                    color: rgb(51, 51, 51); 
                    padding: 5px 0 15px;
                }

                img {
                    filter: grayscale(100%);
                }

                .social-media-links {
                    display: flex;
                    // justify-content: center;
                    gap: 10px;
                    margin: 15px 0 40px;
                    justify-content: end;
                    width: 96%;
                }
            }

            // .card__item-join-btn {
            //     text-align: center;
            //     // margin: 60px 0 50px;
            //     width: 80%;
            //     margin: 0 auto;


            //     .text {
            //         color: rgb(51, 51, 51);
            //         font-size: 30px;
            //         font-weight: 400;
            //         text-transform: uppercase;
            //     }

            //     .text-bold {
            //         color: rgb(51, 51, 51);
            //         font-size: 40px;
            //         font-weight: 600;
            //         text-transform: uppercase;
            //         line-height: 50px;
            //         margin: 15px 0;
            //     }

            //     .btn {
            //         position: relative;
            //         display: block;
            //         margin: 0 auto;
            //         padding: 15px 60px;
            //         background-color: rgb(37, 37, 37);
            //         border-radius: 50px;
            //         text-align: center;
            //         text-decoration: none;
            //         width: 80%;

            //         img {
            //             position: absolute;
            //             top: 15px;
            //             right: 30px;
            //         }

            //         a {
            //             text-transform: capitalize;
            //             color: white;
            //             font-size: 18px;
            //             font-weight: 400;
            //             text-decoration: none;
            //         }
            //     }
            // }
        }

        .card__item-join-btn {
           display: none;
        }

        .card__item-join-btn-wide-screen {
            width: 96%;
            margin: 0 auto;

           .text {
               font-size: 30px;
               font-weight: 400;
               text-transform: uppercase;
               margin-top: 60px;
           }

           .text-bold {
               font-size: 64px;
               font-weight: 600;
               margin: 15px 0;
           }

           .btn {
            position: relative;
            display: block;
            padding: 10px 30px;
            background-color: rgb(37, 37, 37);
            border-radius: 50px;
            text-align: start;
            text-decoration: none;
            width: 20%;

            img {
                position: absolute;
                top: 12px;
                right: 20px;
            }

            a {
                text-transform: capitalize;
                color: white;
                font-size: 18px;
                font-weight: 400;
                text-decoration: none;
            }
        }
        }
    }
}

@media (min-width: 1920px) {
    .page__our-team {
    
        .page__title {
            font-size: 212px;
            font-weight: 300;
            text-transform: uppercase;
            color: rgb(37, 37, 37);
            line-height: 92px;
            text-align: center;
            margin: 150px 0;
        }

        .cards__list {
            display: grid;
            grid-row-gap: 60px;
            grid-template-columns: repeat(4, 1fr);
            margin-bottom: 80px;

            .card__item {
        
                img {
                    width: 90%;
                    
                    object-fit: cover;
                    margin: 0 auto;

                    &:nth-child(3) {
                        height: 86%;
                    }
                }

                .card__title {
                    width: 90%;
                    margin: 0 auto;
                    font-size: 30px;
                    font-weight: 800;
                    color: rgb(51, 51, 51);

                }

                .card__text {
                    width: 90%;
                    margin: 0 auto;
                    font-size: 20px;
                    font-weight: 400;
                    color: rgb(51, 51, 51); 
                    padding: 5px 0 15px;
                }

                img {
                    filter: grayscale(100%);
                }

                .social-media-links {
                    display: flex;
                    gap: 10px;
                    margin: 15px 0 40px;
                    justify-content: end;
                    width: 96%;
                }
            }
        }


        .card__item-join-btn {
            width: 96%;
            margin: 30% auto;

           .text {
               font-size: 30px;
               font-weight: 400;
               text-transform: uppercase;
               margin-top: 60px;
           }

           .text-bold {
               font-size: 64px;
               font-weight: 600;
               margin: 15px 0;
           }

           .btn {
            position: relative;
            display: block;
            padding: 10px 30px;
            background-color: rgb(37, 37, 37);
            border-radius: 50px;
            text-align: start;
            text-decoration: none;
            width: 40%;

            img {
                position: absolute;
                top: 12px;
                right: 20px;
            }

            a {
                text-transform: capitalize;
                color: white;
                font-size: 18px;
                font-weight: 400;
                text-decoration: none;
            }
        }
        }

        .card__item-join-btn-wide-screen {
            display: none;
         }
    }
}