@media (max-width: 767px) {
    .page__about {

        .title {
            font-size: 57px;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            align-items: center;

            .thin_h1 {
                font-weight: 300;
            }
        }

        .images_block {
            display: flex;
            flex-direction: column;
            align-items: center;

            .arrow-down {
                width: 5%;
                margin: 30px 0 16px;
            }
        }

        .split {
            display: flex;
            flex-direction: column;

            .description {
                text-align: center;
                font-size: 30px;
                font-weight: 300;
                margin: 30px 20px;
                line-height: 40px;

                .text_bold {
                    font-weight: 600;
                }
            }

            .block_black {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                background-color: rgb(37, 37, 37);

                .title {
                    color: rgb(255, 255, 255);
                    font-size: 28px;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin: 40px 30px 30px 0;
                }

                .social-media__list {
                    ul {
                        display: flex;
                        justify-content: center;
                        gap: 20px;
                        margin: 0 30px 40px 0;
                    }
                    
                }
            }
        }

        .logos {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 30px 0 10px;
            border-bottom: 1px solid rgb(37, 37, 37);

            .logos_joined {
                display: flex;
                gap: 20px;
            }

            .logo-item {
                padding: 15px 40px;
                background-color: white;
                margin-bottom: 20px;
                border-radius: 50px;
            }
        }

        .logos__wide-screen {
            display: none;
        }
    }
}

@media (min-width: 768px) and (max-width:1919px) {
    .page__about {

        .title {
            font-size: 100px;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            align-items: center;

            .thin_h1 {
                font-weight: 300;
            }
        }

        .images_block {
            display: flex;
            flex-direction: column;
            align-items: center;

            .arrow-down {
                width: 5%;
                margin: 30px 0 16px;
            }

            .hero-photo {
                object-fit: cover;
                width: 100%;
            }
        }

        .split {
            display: flex;
            flex-direction: column;

            .description {
                text-align: center;
                font-size: 52px;
                font-weight: 300;
                margin: 30px 20px;

                .text_bold {
                    font-weight: 600;
                }
            }

            .block_black {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                background-color: rgb(37, 37, 37);

                .title {
                    color: rgb(255, 255, 255);
                    font-size: 28px;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin: 40px 30px 30px 0;
                }

                .social-media__list {
                    ul {
                        display: flex;
                        justify-content: center;
                        gap: 20px;
                        margin: 0 30px 40px 0;
                    }
                    
                }
            }
        }

        .logos {
            display: none;
        }

        .logos__wide-screen {
            display: flex;
            flex-direction: column;
            margin: 40px 0;

            .logos__top-list,
            .logos__bottom-list {
                display: flex;
                justify-content: space-around;

                .logo-item {
                    padding: 15px 40px;
                    background-color: white;
                    margin-bottom: 20px;
                    border-radius: 50px;
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    .page__about {

        .title {
            font-size: 150px;
            font-weight: 600;
            display: flex;
            padding-top: 30px;
            flex-direction: column;
            align-items: center;

            .thin_h1 {
                font-weight: 300;
                margin-bottom: 37px;
            }
        }

        .images_block {
            display: flex;
            flex-direction: column;
            align-items: center;

            .arrow-down {
                display: none;
            }

            .hero-photo {
                object-fit: cover;
                width: 100%;
                height: 956px;
            }
        }

        .split {
            margin-top: 177px;
            padding-bottom: 93px;
         
            display: flex;
            justify-content: space-between;
            gap: 30px;
            

            .description {
                width: 70%;
                text-align: center;
                font-size: 52px;
                font-weight: 300;
                letter-spacing: 2px;
                margin: 30px 20px;

                .text_bold {
                    font-weight: 600;
                }
            }

            .block_black {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                background-color: rgb(37, 37, 37);
                padding-left: 155px;
                padding-right: 60px;

                .title {
                    color: rgb(255, 255, 255);
                    font-size: 28px;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin: 40px 30px 30px 0;
                }

                .social-media__list {
                    ul {
                        display: flex;
                        justify-content: center;
                        gap: 20px;
                        margin: 0 30px 40px 0;
                    }
                    
                }
            }
        }

        .logos {
            display: flex;
            justify-content: space-around;
            padding-top: 70px;

            .logo-item {
                padding: 15px 40px;
                background-color: white;
                margin-bottom: 20px;
                border-radius: 50px;
            }

            .logos_joined {
                display: flex;
                gap: 100px;
            }
        }

        .logos__wide-screen {
            display: none;
        }
    }
}