.whatIdo{
    border-top: 1px solid $color2;
    border-bottom: 1px solid $color2;
    display: flex;
    width: 100%;
    background-color: $color4;
}

.whatIdo__list{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.whatIdo__img{
    background-image: url('../images/what-i-do-bgd.jpg');
    background-size: cover;
    height: 90vh;
    width: 150vw;
}

.whatIdo__title{
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 80px;
    color: $color2;
}

.whatIdo__item{
    position: relative;
  margin: 60px 60px 0 100px;
  border-bottom: 2px solid rgba(37, 37, 37, 0.5);

  &:nth-child(1)::before{
    content: '01';
    font-size: 30px;
    margin-right: 5px;
  }

  &:nth-child(2)::before{
    content: '02';
    font-size: 30px;
    margin-right: 5px;
  }

  &:nth-child(3)::before{
    content: '03';
    font-size: 30px;
    margin-right: 5px;
  }

  &:nth-child(4)::before{
    content: '04';
    font-size: 30px;
    margin-right: 5px;
  }
}

.whatIdo__span{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (max-width: 1200px){
    .whatIdo{
        border-top: 1px solid $color2;
        border-bottom: 1px solid $color2;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .whatIdo__list{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .whatIdo__img{
        background-image: url('/src/images/what-i-do-bgd.jpg');
        background-size: cover;
        
        height: 40vh;
        width: 100%;
    }
    
    .whatIdo__title{
        text-transform: uppercase;
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        margin-top: 20px;
        color: $color2;
    }
    
    .whatIdo__item{
        position: relative;
      margin: 20px 20px 0 40px;
      border-bottom: 2px solid rgba(37, 37, 37, 0.5);
      padding-bottom: 20px;
      font-size: 12px;
    
      &:nth-child(1)::before{
        content: '01';
        font-size: 20px;
        margin-right: 5px;
      }
    
      &:nth-child(2)::before{
        content: '02';
        font-size: 20px;
        margin-right: 5px;
      }
    
      &:nth-child(3)::before{
        content: '03';
        font-size: 20px;
        margin-right: 5px;
      }
    
      &:nth-child(4)::before{
        content: '04';
        font-size: 20px;
        margin-right: 5px;
      }
    }
    
    .whatIdo__span{
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
}


