@font-face {
    font-family: "Gilroy", sans-serif;
    font-display: swap;
    src: url("../../fonts/Gilroy/Regular/Gilroy-Regular.woff"), url("../../fonts/Gilroy/Regular/Gilroy-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy", sans-serif;
    font-display: swap;
    src: url("../../fonts/Gilroy/Medium/Gilroy-Medium.woff"), url("../../fonts/Gilroy/Medium/Gilroy-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy", sans-serif;
    font-display: swap;
    src: url("../../fonts/Gilroy/Semibold/Gilroy-Semibold.woff"), url("../../fonts/Gilroy/Semibold/Gilroy-Semibold.woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy", sans-serif;
    font-display: swap;
    src: url("../../fonts/Gilroy/Bold/Gilroy-Bold.woff"), url("../../fonts/Gilroy/Bold/Gilroy-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}