@media (max-width: 767px) {
    .navbar {
        .container {
            display: flex;
            justify-content: space-between;
            padding: 20px;

            .navbar__logo {
                display: flex;
    
                .logo-text, 
                .r-sign {
                    display: none;
                }
            }

            .navbar__menu-btn {
                .menu {
                    text-transform: uppercase;
                    color: rgb(37, 37, 37);
                    font-size: 25px;
                    font-weight: 400;
                    text-decoration: none;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;

            .navbar__logo {
                display: flex;
                gap: 4px;
    
               .logo-text {
                   text-decoration: none;
                   display: flex;

                   .title-bold {
                       font-size: 35px;
                       font-weight: 800;
                       color: black;
                   }

                   .title {
                       font-size: 35px;
                       margin-left: 5px;
                       font-weight: 400;
                       color: black;
                   }

                   .r-sign {
                    width: 50%;
                    height: 50%;
                }
               }

               
            }

            .navbar__menu-btn {
                .menu {
                    text-transform: uppercase;
                    color: rgb(37, 37, 37);
                    font-size: 25px;
                    font-weight: 400;
                    text-decoration: none;
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    .navbar {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px 70px;

            .navbar__logo {
                display: flex;
                gap: 4px;
    
               .logo-text {
                   text-decoration: none;
                   display: flex;

                   .title-bold {
                       font-size: 35px;
                       font-weight: 800;
                       color: black;
                   }

                   .title {
                       font-size: 35px;
                       margin-left: 5px;
                       font-weight: 400;
                       color: black;
                   }

                   .r-sign {
                    width: 50%;
                    height: 50%;
                }
               }

               
            }

            .navbar__menu-btn {
                .menu {
                    text-transform: uppercase;
                    color: rgb(37, 37, 37);
                    font-size: 25px;
                    font-weight: 400;
                    text-decoration: none;
                }
            }
        }
    }
    
}
