// $bg_main_color: #f5f3ea;
$bg_color: rgb(37, 37, 37);
$white_color: rgb(255, 255, 255);
$black_color: rgb(51, 51, 51);
$color1:#000000;
$color2:#252525;
$color3:#333333;
$color4:#F5F3EA;
$color5:#ffffff;